Edit `investment-options.csv` directly.  (Update as necessary)
Use https://www.portfoliovisualizer.com/backtest-portfolio to get these values manually.

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

import brownbear as bb

# Format price data
pd.options.display.float_format = '{:0.2f}'.format

%matplotlib inline

In [3]:
# Set size of inline plots.
'''note: rcParams can't be in same cell as import matplotlib
   or %matplotlib inline
   
   %matplotlib notebook: will lead to interactive plots embedded within
   the notebook, you can zoom and resize the figure
   
   %matplotlib inline: only draw static images in the notebook
'''
plt.rcParams["figure.figsize"] = (10, 7)

Globals

In [4]:
filename = 'investment-options.csv'

In [5]:
# Read in investment options.
df = pd.read_csv(filename, skip_blank_lines=True, comment='#')

In [6]:
df

,Investment Option,Description,Asset Class,1 mo,3 mo,1 Yr,3 Yr,5 Yr,Vola,DS Vola,Std Dev
0,ROKU,"Roku,Inc.",US Stocks:Technology,1.09,-12.33,216.60,109.96,74.46,79.86,39.56,79.86
1,LUMN,Lumen Technologies,US Stocks:Technology,9.82,16.77,52.89,0.68,-3.87,29.44,18.46,29.44
2,NLY,"Annaly Capital Management, Inc.",US Stocks:Real Estate,2.09,14.37,68.73,8.24,9.13,23.67,15.90,23.67