## Nasdaq 100 Galaxy

Use this utlity to update the returns and std_dev fields within investment-options.csv

Globals

In [1]:
# Set refresh_timeseries=True to download timeseries.  Otherwise /symbol-cache is used.
refresh_timeseries = True
throttle_limit=100
wait_time=30

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import brownbear as bb

# Format price data.
pd.options.display.float_format = '{:0.2f}'.format

In [4]:
# Read in nasdaq100.csv
nasdaq100 = pd.read_csv('nasdaq100.csv')
#nasdaq100.drop(columns=['SEC filings'], inplace=True)
nasdaq100.rename(columns={'Ticker': 'Symbol',
                      'Company':'Description'}, inplace=True)
nasdaq100.set_index("Symbol", inplace=True)
nasdaq100

,Description,GICS Sector,GICS Sub-Industry
Symbol,,,
ADBE,Adobe Inc.,Information Technology,Application Software
AMD,Advanced Micro Devices,Information Technology,Semiconductors
ABNB,Airbnb,Consumer Discretionary,"Hotels, Resorts & Cruise Lines"
GOOGL,Alphabet Inc. (Class A),Communication Services,Interactive Media & Services
GOOG,Alphabet Inc. (Class C),Communication Services,Interactive Media & Services
...,...,...,...
VRTX,Vertex Pharmaceuticals,Health Care,Biotechnology
WBD,Warner Bros. Discovery,Communication Services,Broadcasting
WDAY,"Workday, Inc.",Information Technology,Application Software
XEL,Xcel Energy,Utilities,Multi-Utilities
ZS,Zscaler,Information Technology,Application Software

In [5]:
# Read in gics-2-asset-class.csv
gics2asset_class = pd.read_csv('gics-2-asset-class.csv', skip_blank_lines=True, comment='#')
gics2asset_class.set_index("GICS", inplace=True)
gics2asset_class = gics2asset_class['Asset Class'].to_dict()
gics2asset_class

{'Energy': 'US Stocks:Energy',
 'Materials': 'US Stocks:Materials',
 'Industrials': 'US Stocks:Industrials',
 'Consumer Discretionary': 'US Stocks:Consumer Discretionary',
 'Consumer Staples': 'US Stocks:Consumer Staples',
 'Health Care': 'US Stocks:Healthcare',
 'Financials': 'US Stocks:Financials',
 'Information Technology': 'US Stocks:Technology',
 'Communication Services': 'US Stocks:Communication Services',
 'Utilities': 'US Stocks:Utilities',
 'Real Estate': 'US Stocks:Real Estate'}

In [6]:
# Add Asset Class column.
nasdaq100['Asset Class'] = 'US Stocks'

# Yahoo finance uses '-' where '.' is used in symbol names.
nasdaq100.index = nasdaq100.index.str.replace('.', '-', regex=False)
nasdaq100

,Description,GICS Sector,GICS Sub-Industry,Asset Class
Symbol,,,,
ADBE,Adobe Inc.,Information Technology,Application Software,US Stocks
AMD,Advanced Micro Devices,Information Technology,Semiconductors,US Stocks
ABNB,Airbnb,Consumer Discretionary,"Hotels, Resorts & Cruise Lines",US Stocks
GOOGL,Alphabet Inc. (Class A),Communication Services,Interactive Media & Services,US Stocks
GOOG,Alphabet Inc. (Class C),Communication Services,Interactive Media & Services,US Stocks
...,...,...,...,...
VRTX,Vertex Pharmaceuticals,Health Care,Biotechnology,US Stocks
WBD,Warner Bros. Discovery,Communication Services,Broadcasting,US Stocks
WDAY,"Workday, Inc.",Information Technology,Application Software,US Stocks
XEL,Xcel Energy,Utilities,Multi-Utilities,US Stocks
ZS,Zscaler,Information Technology,Application Software,US Stocks

In [7]:
# Make symbols list.
symbols = list(nasdaq100.index)

In [8]:
# Get the timeseries for the symbols and compile into a single csv.
bb.fetch_timeseries(symbols, refresh=refresh_timeseries, throttle_limit=throttle_limit, wait_time=wait_time)
bb.compile_timeseries(symbols)

ADBE AMD ABNB GOOGL GOOG AMZN AEP AMGN ADI ANSS AAPL AMAT APP ARM ASML AZN TEAM ADSK ADP AXON BKR BIIB BKNG AVGO CDNS CDW CHTR CTAS CSCO CCEP CTSH CMCSA CEG CPRT CSGP COST CRWD CSX DDOG DXCM FANG DASH EA EXC FAST FTNT GEHC GILD GFS HON IDXX INTC INTU ISRG KDP KLAC KHC LRCX LIN LULU MAR MRVL MELI META MCHP MU MSFT MSTR MDLZ MDB MNST NFLX NVDA NXPI ORLY ODFL ON PCAR PLTR PANW PAYX PYPL PDD PEP QCOM REGN ROP ROST SBUX SNPS TTWO TMUS TSLA TXN TTD VRSK VRTX WBD WDAY XEL
Throttle limit reached. Waiting for 30 seconds...
ZS

In [9]:
# Read symbols timeseries into a dataframe.
df = pd.read_csv('symbols-timeseries.csv', skip_blank_lines=True, comment='#')
df.set_index("Date", inplace=True)
df

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,224.57,18.83,NaN,52.48,52.05,76.96,58.42,158.59,76.50,143.01,...,63.82,20.67,78.68,11.62,104.39,164.08,25.83,159.74,39.97,39.81
2019-01-03,215.70,17.05,NaN,51.03,50.56,75.01,58.28,156.17,71.88,137.64,...,63.58,20.02,74.04,10.96,101.20,163.73,25.68,154.02,39.81,39.32
2019-01-04,226.19,19.00,NaN,53.65,53.28,78.77,58.82,161.51,73.63,143.66,...,66.00,21.18,77.39,11.79,105.66,172.70,26.14,163.35,40.20,41.77
2019-01-07,229.26,20.57,NaN,53.54,53.17,81.48,58.49,163.69,74.09,147.32,...,66.93,22.33,78.72,12.46,105.77,175.85,26.53,163.50,40.03,43.56
2019-01-08,232.68,20.75,NaN,54.01,53.56,82.83,59.21,165.78,75.90,148.05,...,66.27,22.36,78.62,12.81,106.71,178.19,27.24,166.95,40.49,43.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-28,368.62,96.39,123.30,160.61,162.42,187.70,107.06,283.09,193.72,318.00,...,236.77,285.88,161.07,54.40,288.41,496.49,8.70,239.82,69.58,219.86
2025-04-29,370.98,96.06,125.49,160.16,162.06,187.39,108.50,288.56,192.67,319.82,...,241.59,292.03,159.41,54.67,292.37,503.50,8.77,243.39,70.67,223.85
2025-04-30,374.98,97.35,121.92,158.80,160.89,184.42,108.34,290.92,194.92,321.88,...,246.95,282.16,160.05,53.63,296.43,509.50,8.67,245.00,70.70,226.17
2025-05-01,374.63,96.65,124.01,161.30,162.79,190.20,107.54,283.78,193.74,319.73,...,247.00,280.52,158.26,53.06,294.51,498.86,8.43,246.61,70.40,227.06
2025-05-02,380.87,98.80,125.26,164.03,165.81,189.98,107.69,281.22,198.59,328.76,...,248.88,287.21,164.51,54.09,293.90,501.15,8.54,248.68,70.77,230.47

In [10]:
# Calculate Annual Returns.
annual_returns = bb.annualized_returns(df, timeperiod='daily', years=1)
annual_returns

ADBE    -17.71
AMD     -37.62
ABNB    -21.01
GOOGL     1.25
GOOG      1.19
         ...
VRTX     27.58
WBD      16.03
WDAY      1.61
XEL      36.45
ZS       33.27
Length: 101, dtype: float64

In [11]:
# Calculate 1 month, 3 months, 1 year, 3 year, and 5 year annualized returns.
annual_returns_1mo = bb.annualized_returns(df, timeperiod='daily', years=1/12)
annual_returns_3mo = bb.annualized_returns(df, timeperiod='daily', years=3/12)
annual_returns_1yr = bb.annualized_returns(df, timeperiod='daily', years=1)
annual_returns_3yr = bb.annualized_returns(df, timeperiod='daily', years=3)
annual_returns_5yr = bb.annualized_returns(df, timeperiod='daily', years=5)

In [12]:
# Calculate 20 day annualized volatility.
daily_returns = df.pct_change()
years = bb.TRADING_DAYS_PER_MONTH / bb.TRADING_DAYS_PER_YEAR
vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years)

In [13]:
# Calculate 20 day annualized downside volatility.
ds_vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years, downside=True)

In [14]:
# Resample df on a monthly basis.
df.index = pd.to_datetime(df.index)
monthly = df.resample('ME').ffill()

In [15]:
# Calculate monthly returns.
monthly_returns = monthly.pct_change()

In [16]:
# Calculate 1 year, 3 year, and 5 year annualized standard deviation.
std_dev_1yr = bb.annualized_standard_deviation(monthly_returns, timeperiod='monthly', years=1)
std_dev_3yr = bb.annualized_standard_deviation(monthly_returns, timeperiod='monthly', years=3)
std_dev_5yr = bb.annualized_standard_deviation(monthly_returns, timeperiod='monthly', years=5)

In [17]:
# Read investment-options-header.csv
lines = []
with open('investment-options-in.csv', 'r') as f:
    lines = [line.strip() for line in f]

In [18]:
# For each symbol, write out the 1 Yr, 3 Yr, 5 Yr, and std dev.
out = lines.copy()

# This is still slow (2.53 s).
for i, (index, row) in enumerate(nasdaq100.iterrows()):

    symbol = index
    description = row['Description']
    asset_class = row['Asset Class']

    ret_1mo = annual_returns_1mo[symbol]
    ret_3mo = annual_returns_3mo[symbol]
    ret_1yr = annual_returns_1yr[symbol]
    ret_3yr = annual_returns_3yr[symbol]
    ret_5yr = annual_returns_5yr[symbol]
    
    if np.isnan(ret_3yr): ret_3yr = ret_1yr
    if np.isnan(ret_5yr): ret_5yr = ret_3yr

    _vola = vola[symbol]*100
    _ds_vola = ds_vola[symbol]*100
    sd_1yr = std_dev_1yr[symbol]*100
    sd_3yr = std_dev_3yr[symbol]*100
    sd_5yr = std_dev_5yr[symbol]*100

    out.append((
        '"{}","{}","{}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}",'
        '"{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}"'
    ).format(
        symbol, description, asset_class, ret_1mo, ret_3mo, ret_1yr, ret_3yr,
        ret_5yr, _vola, _ds_vola, sd_1yr, sd_3yr, sd_5yr
    ))

In [19]:
# Write out asset-classes.csv
with open('investment-options.csv', 'w') as f:
    for line in out:
        f.write(line + '\n')