Use this utlity to update the returns and std_dev fields within investment-options.csv

In [22]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [23]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import brownbear as bb

# Format price data.
pd.options.display.float_format = '{:0.2f}'.format

%matplotlib inline

In [24]:
# Set size of inline plots.
'''note: rcParams can't be in same cell as import matplotlib
   or %matplotlib inline
   
   %matplotlib notebook: will lead to interactive plots embedded within
   the notebook, you can zoom and resize the figure
   
   %matplotlib inline: only draw static images in the notebook
'''
plt.rcParams["figure.figsize"] = (10, 7)

Globals

In [25]:
# Set refresh_timeseries=True to download timeseries.  Otherwise /symbol-cache is used.
refresh_timeseries = True

In [26]:
# Read in nasdaq100.csv
nasdaq100 = pd.read_csv('nasdaq100.csv')
#nasdaq100.drop(columns=['SEC filings'], inplace=True)
nasdaq100.rename(columns={'Ticker': 'Symbol',
                      'Company':'Description'}, inplace=True)
nasdaq100.set_index("Symbol", inplace=True)
nasdaq100

,Description,GICS Sector,GICS Sub-Industry
Symbol,,,
ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment
ADBE,Adobe Inc.,Information Technology,Application Software
ADP,ADP,Information Technology,Data Processing & Outsourced Services
ABNB,Airbnb,Consumer Discretionary,Internet & Direct Marketing Retail
ALGN,Align Technology,Health Care,Health Care Supplies
...,...,...,...
WBD,Warner Bros. Discovery,Communication Services,Broadcasting
WDAY,"Workday, Inc.",Information Technology,Application Software
XEL,Xcel Energy,Utilities,Multi-Utilities
ZM,Zoom Video Communications,Information Technology,Application Software
ZS,Zscaler,Information Technology,Application Software

In [27]:
# Read in gics-2-asset-class.csv
gics2asset_class = pd.read_csv('gics-2-asset-class.csv', skip_blank_lines=True, comment='#')
gics2asset_class.set_index("GICS", inplace=True)
gics2asset_class = gics2asset_class['Asset Class'].to_dict()
gics2asset_class

{'Energy': 'US Stocks:Energy',
 'Materials': 'US Stocks:Materials',
 'Industrials': 'US Stocks:Industrials',
 'Consumer Discretionary': 'US Stocks:Consumer Discretionary',
 'Consumer Staples': 'US Stocks:Consumer Staples',
 'Health Care': 'US Stocks:Healthcare',
 'Financials': 'US Stocks:Financials',
 'Information Technology': 'US Stocks:Technology',
 'Communication Services': 'US Stocks:Communication Services',
 'Utilities': 'US Stocks:Utilities',
 'Real Estate': 'US Stocks:Real Estate'}

In [28]:
# Add Asset Class column.
nasdaq100['Asset Class'] = 'US Stocks'

# Yahoo finance uses '-' where '.' is used in symbol names.
nasdaq100.index = nasdaq100.index.str.replace('.', '-', regex=False)
nasdaq100

,Description,GICS Sector,GICS Sub-Industry,Asset Class
Symbol,,,,
ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,US Stocks
ADBE,Adobe Inc.,Information Technology,Application Software,US Stocks
ADP,ADP,Information Technology,Data Processing & Outsourced Services,US Stocks
ABNB,Airbnb,Consumer Discretionary,Internet & Direct Marketing Retail,US Stocks
ALGN,Align Technology,Health Care,Health Care Supplies,US Stocks
...,...,...,...,...
WBD,Warner Bros. Discovery,Communication Services,Broadcasting,US Stocks
WDAY,"Workday, Inc.",Information Technology,Application Software,US Stocks
XEL,Xcel Energy,Utilities,Multi-Utilities,US Stocks
ZM,Zoom Video Communications,Information Technology,Application Software,US Stocks
ZS,Zscaler,Information Technology,Application Software,US Stocks

In [29]:
# Make symbols list.
symbols = list(nasdaq100.index)
#symbols

In [30]:
# Get the timeseries for the symbols and compile into a single csv.
bb.fetch_timeseries(symbols, refresh=refresh_timeseries)
bb.compile_timeseries(symbols)

ATVI ADBE ADP ABNB ALGN GOOGL GOOG AMZN AMD AEP AMGN ADI ANSS AAPL AMAT ASML AZN TEAM ADSK BKR BIIB BKNG AVGO CDNS CHTR CTAS CSCO CTSH CMCSA CEG CPRT CSGP COST CRWD CSX DDOG DXCM FANG DLTR EBAY EA ENPH EXC FAST FISV FTNT GILD GFS HON IDXX ILMN INTC INTU ISRG JD KDP KLAC KHC LRCX LCID LULU MAR MRVL MELI META MCHP MU MSFT MRNA MDLZ MNST NFLX NVDA NXPI ORLY ODFL PCAR PANW PAYX PYPL PEP PDD QCOM REGN RIVN ROST SGEN SIRI SBUX SNPS TMUS TSLA TXN VRSK VRTX WBA WBD WDAY XEL ZM ZS

In [31]:
# Read symbols timeseries into a dataframe.
df = pd.read_csv('symbols-timeseries.csv', skip_blank_lines=True, comment='#')
df.set_index("Date", inplace=True)
df = df[:]
df

,ATVI,ADBE,ADP,ABNB,ALGN,GOOGL,GOOG,AMZN,AMD,AEP,...,TSLA,TXN,VRSK,VRTX,WBA,WBD,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,19.06,72.34,70.04,nan,56.20,26.48,26.17,15.43,2.67,46.37,...,14.62,43.02,62.31,123.07,60.07,34.48,80.41,28.32,nan,nan
2015-01-05,18.79,71.98,69.99,nan,56.99,25.97,25.62,15.11,2.66,45.69,...,14.01,42.35,61.50,121.03,58.88,33.06,80.01,28.00,nan,nan
2015-01-06,18.44,70.53,69.41,nan,57.45,25.33,25.03,14.76,2.63,45.94,...,14.09,41.65,61.29,117.36,59.04,31.98,79.42,28.15,nan,nan
2015-01-07,18.04,71.11,70.02,nan,59.57,25.26,24.99,14.92,2.58,46.59,...,14.06,42.40,61.33,120.66,60.54,32.21,79.35,28.39,nan,nan
2015-01-08,18.22,72.92,71.62,nan,61.44,25.35,25.07,15.02,2.61,46.99,...,14.04,43.09,61.94,123.97,61.30,32.47,82.78,28.72,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30,75.96,363.42,222.35,109.48,265.82,96.94,97.95,100.55,72.45,92.87,...,166.66,173.13,179.41,319.98,36.53,14.38,176.48,68.10,73.50,122.60
2023-01-31,76.57,370.34,225.81,111.11,269.73,98.84,99.87,103.13,75.15,93.96,...,173.22,177.21,181.79,323.10,36.86,14.82,181.43,68.77,75.00,124.16
2023-02-01,76.70,383.92,226.73,113.99,282.53,100.43,101.43,105.15,84.64,94.65,...,181.41,182.10,184.16,317.27,37.18,15.36,185.33,69.61,78.11,131.52
2023-02-02,77.11,392.23,228.99,118.52,359.88,107.74,108.80,112.91,88.31,94.55,...,188.27,184.72,187.02,303.78,37.71,15.92,190.98,69.56,82.84,141.35
2023-02-03,75.24,379.33,225.31,118.70,343.10,104.78,105.22,103.39,86.09,92.11,...,189.98,182.29,180.11,301.02,37.09,15.42,185.85,67.98,79.54,134.99

In [32]:
# Sample symbol.
symbol = 'AMZN'

In [33]:
annual_returns = bb.annualized_returns(df, timeperiod='daily', years=1)
annual_returns[symbol]

-31.353641102346874

In [34]:
# Calculate 1 month, 3 months, 1 year, 3 year, and 5 year annualized returns.
annual_returns_1mo = bb.annualized_returns(df, timeperiod='daily', years=1/12)
annual_returns_3mo = bb.annualized_returns(df, timeperiod='daily', years=3/12)
annual_returns_1yr = bb.annualized_returns(df, timeperiod='daily', years=1)
annual_returns_3yr = bb.annualized_returns(df, timeperiod='daily', years=3)
annual_returns_5yr = bb.annualized_returns(df, timeperiod='daily', years=5)

In [35]:
# Calculate 20 day annualized volatility.
daily_returns = df.pct_change()
years = bb.TRADING_DAYS_PER_MONTH / bb.TRADING_DAYS_PER_YEAR
vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years)
vola[symbol]

0.5228125588558886

In [36]:
# Calculate 20 day annualized downside volatility.
ds_vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years, downside=True)
ds_vola[symbol]

0.2990889262231148

In [37]:
# Resample df on a monthly basis.
df.index = pd.to_datetime(df.index)
monthly = df.resample('M').ffill()

In [38]:
# Calculate monthly returns.
monthly_returns = monthly.pct_change()
monthly_returns[symbol]

Date
2015-01-31     nan
2015-02-28    0.07
2015-03-31   -0.02
2015-04-30    0.13
2015-05-31    0.02
              ...
2022-10-31   -0.09
2022-11-30   -0.06
2022-12-31   -0.13
2023-01-31    0.23
2023-02-28    0.00
Freq: M, Name: AMZN, Length: 98, dtype: float64

In [39]:
# Calculate 3 year annualized standard deviation.
std_dev = bb.annualized_standard_deviation(monthly_returns, timeperiod='monthly', years=3)
std_dev[symbol]

0.37468106366899523

In [40]:
# Read investment-options-header.csv
lines = []
with open('investment-options-in.csv', 'r') as f:
    lines = [line.strip() for line in f]
lines

['# Description: S&P 400 investment options. 10/02/2020',
 '',
 '# Format',
 '"Investment Option","Description","Asset Class","1 mo","3 mo","1 Yr","3 Yr","5 Yr","Vola","DS Vola","Std Dev"',
 '# Note: "Description" field is optional']

In [41]:
# For each symbol, write out the 1 Yr, 3 Yr, 5 Yr, and std dev.
out = lines.copy()

# This is still slow (2.53 s).
for i, (index, row) in enumerate(nasdaq100.iterrows()):

    symbol = index
    description = row['Description']
    asset_class = row['Asset Class']

    ret_1mo = annual_returns_1mo[symbol]
    ret_3mo = annual_returns_3mo[symbol]
    ret_1yr = annual_returns_1yr[symbol]
    ret_3yr = annual_returns_3yr[symbol]
    ret_5yr = annual_returns_5yr[symbol]
    
    if np.isnan(ret_3yr): ret_3yr = ret_1yr
    if np.isnan(ret_5yr): ret_5yr = ret_3yr

    _vola = vola[symbol]*100
    _ds_vola = ds_vola[symbol]*100
    sd = std_dev[symbol]*100
    
    out.append(
        '"{}","{}","{}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}"'
        .format(symbol, description, asset_class,
                ret_1mo, ret_3mo, ret_1yr, ret_3yr, ret_5yr, _vola, _ds_vola, sd))

In [42]:
# Write out asset-classes.csv
with open('investment-options.csv', 'w') as f:
    for line in out:
        f.write(line + '\n')