Use this utlity to update the returns and std_dev fields within investment-options.csv

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import brownbear as bb

# format price data
pd.options.display.float_format = '{:0.2f}'.format

%matplotlib inline

In [3]:
# set size of inline plots
'''note: rcParams can't be in same cell as import matplotlib
   or %matplotlib inline
   
   %matplotlib notebook: will lead to interactive plots embedded within
   the notebook, you can zoom and resize the figure
   
   %matplotlib inline: only draw static images in the notebook
'''
plt.rcParams["figure.figsize"] = (10, 7)

Globals

In [4]:
# set refresh_timeseries=True to download timeseries.  Otherwise /symbol-cache is used.
refresh_timeseries = True

In [5]:
# read in dow30.csv
dow30 = pd.read_csv('dow30.csv')

# remove the exchange from the beginning of the symbol
def _symbol(row):
    return row['Symbol'].split(':')[-1].strip()
dow30['Symbol'] = dow30.apply(_symbol, axis=1)

dow30.drop(columns=['Exchange', 'Date added', 'Notes', 'Index weighting(as of September 1, 2020'], inplace=True)
dow30.rename(columns={'Symbol': 'Symbol',
                      'Company':'Description',
                      'Industry':'Asset Class'}, inplace=True)

dow30.set_index("Symbol", inplace=True)
dow30

                     Description                     Asset Class
Symbol
MMM                   3M Company                    Conglomerate
AXP             American Express              Financial services
AMGN                       Amgen         Pharmaceutical industry
AAPL                  Apple Inc.          Information technology
BA                        Boeing           Aerospace and defense
CAT             Caterpillar Inc.         Construction and Mining
CVX          Chevron Corporation              Petroleum industry
CSCO               Cisco Systems          Information technology
KO         The Coca-Cola Company                   Food industry
DOW                     Dow Inc.               Chemical industry
GS                 Goldman Sachs              Financial services
HD                The Home Depot                       Retailing
HON                    Honeywell                    Conglomerate
IBM                          IBM          Information technology
INTC                       Intel          Information technology
JNJ            Johnson & Johnson         Pharmaceutical industry
JPM               JPMorgan Chase              Financial services
MCD                   McDonald's                   Food industry
MRK                  Merck & Co.         Pharmaceutical industry
MSFT                   Microsoft          Information technology
NKE                         Nike                         Apparel
PG              Procter & Gamble      Fast-moving consumer goods
CRM                   Salesforce          Information technology
TRV      The Travelers Companies              Financial services
UNH           UnitedHealth Group             Managed health care
VZ                       Verizon               Telecommunication
V                      Visa Inc.              Financial services
WBA     Walgreens Boots Alliance                       Retailing
WMT                      Walmart                       Retailing
DIS      The Walt Disney Company  Broadcasting and entertainment

In [6]:
# read in gics-2-asset-class.csv
gics2asset_class = pd.read_csv('gics-2-asset-class.csv', skip_blank_lines=True, comment='#')
gics2asset_class.set_index("GICS", inplace=True)
gics2asset_class = gics2asset_class['Asset Class'].to_dict()
gics2asset_class

{'Conglomerate': 'US Stocks:Industrials',
 'Financial services': 'US Stocks:Financials',
 'Pharmaceutical industry': 'US Stocks:Healthcare',
 'Information technology': 'US Stocks:Technology',
 'Aerospace and defense': 'US Stocks:Industrials',
 'Construction and Mining': 'US Stocks:Industrials',
 'Petroleum industry': 'US Stocks:Energy',
 'Food industry': 'US Stocks:Consumer Staples',
 'Chemical industry': 'US Stocks:Materials',
 'Retailing': 'US Stocks:Consumer Discretionary',
 'Apparel': 'US Stocks:Consumer Discretionary',
 'Fast-moving consumer goods': 'US Stocks:Consumer Staples',
 'Managed health care': 'US Stocks:Healthcare',
 'Telecommunication': 'US Stocks:Communication Services',
 'Broadcasting and entertainment': 'US Stocks:Communication Services'}

In [7]:
# map dow30 GICS sectors to brownbear defined asset classes
def _asset_class(row):
    return gics2asset_class[row['Asset Class']]

dow30['Asset Class'] = dow30.apply(_asset_class, axis=1)

# yahoo finance uses '-' where '.' is used in symbol names
dow30.index = dow30.index.str.replace('.', '-')
dow30

                     Description                       Asset Class
Symbol
MMM                   3M Company             US Stocks:Industrials
AXP             American Express              US Stocks:Financials
AMGN                       Amgen              US Stocks:Healthcare
AAPL                  Apple Inc.              US Stocks:Technology
BA                        Boeing             US Stocks:Industrials
CAT             Caterpillar Inc.             US Stocks:Industrials
CVX          Chevron Corporation                  US Stocks:Energy
CSCO               Cisco Systems              US Stocks:Technology
KO         The Coca-Cola Company        US Stocks:Consumer Staples
DOW                     Dow Inc.               US Stocks:Materials
GS                 Goldman Sachs              US Stocks:Financials
HD                The Home Depot  US Stocks:Consumer Discretionary
HON                    Honeywell             US Stocks:Industrials
IBM                          IBM              US Stocks:Technology
INTC                       Intel              US Stocks:Technology
JNJ            Johnson & Johnson              US Stocks:Healthcare
JPM               JPMorgan Chase              US Stocks:Financials
MCD                   McDonald's        US Stocks:Consumer Staples
MRK                  Merck & Co.              US Stocks:Healthcare
MSFT                   Microsoft              US Stocks:Technology
NKE                         Nike  US Stocks:Consumer Discretionary
PG              Procter & Gamble        US Stocks:Consumer Staples
CRM                   Salesforce              US Stocks:Technology
TRV      The Travelers Companies              US Stocks:Financials
UNH           UnitedHealth Group              US Stocks:Healthcare
VZ                       Verizon  US Stocks:Communication Services
V                      Visa Inc.              US Stocks:Financials
WBA     Walgreens Boots Alliance  US Stocks:Consumer Discretionary
WMT                      Walmart  US Stocks:Consumer Discretionary
DIS      The Walt Disney Company  US Stocks:Communication Services

In [8]:
# make symbols list
symbols = list(dow30.index)
#symbols

In [9]:
# get the timeseries for the symbols and compile into a single csv
bb.fetch_timeseries(symbols, refresh=refresh_timeseries)
bb.compile_timeseries(symbols)

..............................

In [10]:
# read symbols timeseries into a dataframe
df = pd.read_csv('symbols-timeseries.csv', skip_blank_lines=True, comment='#')
df.set_index("Date", inplace=True)
df

,MMM,AXP,AMGN,AAPL,BA,CAT,CVX,CSCO,KO,DOW,...,NKE,PG,CRM,TRV,UNH,VZ,V,WBA,WMT,DIS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,138.20,84.23,136.29,24.86,113.66,75.83,86.83,22.78,34.62,nan,...,44.44,74.93,59.24,91.52,91.65,35.48,63.61,65.25,74.56,87.38
2015-01-05,135.08,82.01,134.67,24.16,112.87,71.83,83.36,22.33,34.62,nan,...,43.72,74.57,58.17,90.41,90.14,35.18,62.20,63.96,74.34,86.10
2015-01-06,133.64,80.26,130.33,24.16,111.54,71.37,83.32,22.32,34.88,nan,...,43.46,74.23,57.20,89.61,89.96,35.54,61.80,64.13,74.91,85.64
2015-01-07,134.61,82.01,134.88,24.50,113.27,72.47,83.25,22.52,35.32,nan,...,44.36,74.62,56.93,91.13,90.88,35.31,62.63,65.77,76.90,86.52
2015-01-08,137.84,83.17,134.40,25.44,115.28,73.21,85.16,22.70,35.74,nan,...,45.39,75.48,58.59,93.03,95.22,36.06,63.47,66.58,78.52,87.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-04,177.10,124.90,237.22,137.18,210.64,191.65,89.00,47.25,49.01,56.34,...,140.63,129.03,237.98,143.93,329.32,55.14,209.25,49.27,142.53,180.23
2021-02-05,179.01,126.28,236.32,136.76,207.93,193.00,89.26,48.08,49.65,57.24,...,145.11,129.57,238.89,144.84,324.51,55.32,208.77,49.81,144.36,181.16
2021-02-08,180.76,127.99,237.57,136.91,211.95,197.45,91.48,48.94,49.92,57.35,...,143.41,129.17,238.93,146.20,324.34,55.05,206.89,49.93,145.03,190.00
2021-02-09,180.94,126.68,236.65,136.01,215.12,197.28,90.96,48.50,49.70,56.60,...,141.79,128.67,236.70,147.16,329.63,55.00,206.52,50.00,145.83,188.21
2021-02-10,181.08,128.23,238.46,135.39,211.92,197.72,92.52,47.24,49.60,57.67,...,142.46,128.22,236.72,145.93,333.40,54.96,206.44,51.61,144.13,189.63

In [11]:
# sample symbol
symbol = 'MMM'

In [12]:
annual_returns = bb.annualize_returns(df, timeperiod='daily', years=1)
annual_returns[symbol]

15.61869558418707

In [13]:
# calculate annualized returns
annual_returns_1mo = bb.annualize_returns(df, timeperiod='daily', years=1/12)
annual_returns_3mo = bb.annualize_returns(df, timeperiod='daily', years=3/12)
annual_returns_1yr = bb.annualize_returns(df, timeperiod='daily', years=1)
annual_returns_3yr = bb.annualize_returns(df, timeperiod='daily', years=3)
annual_returns_5yr = bb.annualize_returns(df, timeperiod='daily', years=5)

In [14]:
# calculate volatility
daily_returns = df.pct_change()
years = bb.TRADING_DAYS_PER_MONTH / bb.TRADING_DAYS_PER_YEAR
vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years)
vola[symbol]

0.30750154739082464

In [15]:
# calculate downside volatility
ds_vola = bb.annualized_standard_deviation(daily_returns, timeperiod='daily', years=years, downside=True)
ds_vola[symbol]

0.1551151057169064

In [16]:
# resample df on a monthly basis
df.index = pd.to_datetime(df.index)
monthly = df.resample('M').ffill()
bb.print_full(monthly[symbol])

Date
2015-01-31   136.72
2015-02-28   142.95
2015-03-31   139.82
2015-04-30   132.56
2015-05-31   135.69
2015-06-30   131.62
2015-07-31   129.09
2015-08-31   122.09
2015-09-30   121.77
2015-10-31   135.03
2015-11-30   135.37
2015-12-31   130.24
2016-01-31   130.55
2016-02-29   136.60
2016-03-31   145.10
2016-04-30   145.76
2016-05-31   147.55
2016-06-30   153.51
2016-07-31   156.35
2016-08-31   158.10
2016-09-30   155.45
2016-10-31   145.81
2016-11-30   152.46
2016-12-31   158.52
2017-01-31   155.19
2017-02-28   166.51
2017-03-31   170.95
2017-04-30   174.98
2017-05-31   183.79
2017-06-30   187.13
2017-07-31   180.82
2017-08-31   184.71
2017-09-30   189.75
2017-10-31   208.09
2017-11-30   220.91
2017-12-31   213.85
2018-01-31   227.60
2018-02-28   215.24
2018-03-31   200.63
2018-04-30   177.66
2018-05-31   181.49
2018-06-30   181.02
2018-07-31   195.37
2018-08-31   195.39
2018-09-30   195.19
2018-10-31   176.25
2018-11-30   193.92
2018-12-31   177.71
2019-01-31   186.81
2019-02-28   194.76
2019-03-31   195.13
2019-04-30   177.97
2019-05-31   151.31
2019-06-30   164.18
2019-07-31   165.49
2019-08-31   154.58
2019-09-30   157.14
2019-10-31   157.70
2019-11-30   163.68
2019-12-31   170.09
2020-01-31   152.96
2020-02-29   145.19
2020-03-31   132.80
2020-04-30   147.79
2020-05-31   153.70
2020-06-30   153.26
2020-07-31   147.83
2020-08-31   161.62
2020-09-30   158.81
2020-10-31   158.59
2020-11-30   172.73
2020-12-31   174.79
2021-01-31   175.66
2021-02-28   181.08
Freq: M, Name: MMM, dtype: float64

In [17]:
# calculate monthly returns
monthly_returns = monthly.pct_change()
monthly_returns[symbol]

Date
2015-01-31     nan
2015-02-28    0.05
2015-03-31   -0.02
2015-04-30   -0.05
2015-05-31    0.02
              ...
2020-10-31   -0.00
2020-11-30    0.09
2020-12-31    0.01
2021-01-31    0.00
2021-02-28    0.03
Freq: M, Name: MMM, Length: 74, dtype: float64

In [18]:
# calculate standard deviation
std_dev = bb.annualized_standard_deviation(monthly_returns, timeperiod='monthly', years=3)
std_dev[symbol]

0.2264854600240266

In [19]:
# read investment-options-header.csv
lines = []
with open('investment-options-in.csv', 'r') as f:
    lines = [line.strip() for line in f]
lines

['# Description: DOW 30 investment options. 10/02/2020',
 '',
 '# Format',
 '"Investment Option","Description","Asset Class","1 mo","3 mo","1 Yr","3 Yr","5 Yr","Vola","DS Vola","Std Dev"',
 '# Note: "Description" field is optional']

In [20]:
# for each symbol, write out the 1 Yr, 3 Yr, 5 Yr, and std dev
out = lines.copy()

for i, (index, row) in enumerate(dow30.iterrows()):

    symbol = index
    description = row['Description']
    asset_class = row['Asset Class']

    ret_1mo = annual_returns_1mo[symbol]
    ret_3mo = annual_returns_3mo[symbol]
    ret_1yr = annual_returns_1yr[symbol]
    ret_3yr = annual_returns_3yr[symbol]
    ret_5yr = annual_returns_5yr[symbol]

    _vola = vola[symbol]*100
    _ds_vola = ds_vola[symbol]*100
    sd = std_dev[symbol]*100

    out.append(
        '"{}","{}","{}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}","{:0.2f}"'
        .format(symbol, description, asset_class,
                ret_1mo, ret_3mo, ret_1yr, ret_3yr, ret_5yr, _vola, _ds_vola, sd))

In [21]:
# write out asset-classes.csv
with open('investment-options.csv', 'w') as f:
    for line in out:
        f.write(line + '\n')